{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on Postory{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on Postory.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}:/(our domain IP):3000/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Postory team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on Postory.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://(our domain IP):3000/{{ url|safe }}">{{ protocol }}://(our domain IP):3000/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Postory team{% endblocktrans %}</p>

{% endblock html_body %}