.Post{
  border:1px solid black;
  border-radius: 25px;
  width : 450px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainContent{
  /* Fit Text */
  width: intrinsic;           
  width: -moz-fit-content;    
  width: -webkit-fit-content; 

  display: inline-block; 
  font-size: small;
}

.tag{
  margin: 5px;
  background-color: #07686E;
  font-size: small;
  align-items: center;
}

.circle {
  background-color:#fff;
  border:2px solid #FF8F49;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.image{
  justify-content: space-between;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}



