.Post{
  border:1px solid black;
  border-radius: 25px;
  width : 400px;
  /*background-color: white;*/
}

.row{
  display: flex;
  flex-direction: row;
}

.mainContent{
  /* Fit Text */
  width: intrinsic;           
  width: -moz-fit-content;    
  width: -webkit-fit-content; 

  
  display: inline-block; 
  font-size: small;
}

.circle {
  background-color:#fff;
  border:1px solid red;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
