#timechooser-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#timechooser-s-date-label,
#timechooser-s-time-label,
#timechooser-e-date-label,
#timechooser-e-time-label
{
    align-self: flex-start;
}

#timechooser-date-label {
    align-self: flex-start;
}

#timechooser-plus-button {
    align-self: flex-end;
}

#timechooser-checkbox {
    align-self: flex-end;
}

#timechooser-checkbox-text {
    align-self: flex-end;
    font-size: 60%;
}