<body>
    <div>
        <title id='title'/>
        </title>
        <h1 id='header'>
        </h1>
        <h4 id='location'>
            
        </h4>
        <p id='weather'>

        </p>
        <h5 id='date'>

        </h5>
        <h5 id='name'>
            Written by:
        </h5>
        <p id='story'>
        
        </p>
        <button id='de'>
            German
        </button>
        <button id='es'>
            Spanish
        </button>
        <button id='tr'>
            Turkish
        </button>
        <p id='translation'>

        </p>
        <q id='quote'>

        </q>
    </div>
</body>

<script type='text/javascript'>
    fetch("http://127.0.0.1:8000/api/story/"+{{story_id}},{method:'get'}).then(response => {
        return response.json()
    }).then(data => {
        document.getElementById('title').innerHTML+=data['title']
        document.getElementById('header').innerHTML+=data['title']
        document.getElementById('location').innerHTML+=data['location']
        document.getElementById('date').innerHTML+=data['date']
        document.getElementById('name').innerHTML+=data['name']
        document.getElementById('story').innerHTML+=data['story']
    })
    
    fetch("http://127.0.0.1:8000/api/weather/"+{{story_id}},{method:'get'}).then(response => {
        return response.json()
    }).then(data => {
        document.getElementById('weather').innerHTML+='<p>Condition: '+data['condition']
                                                      +', Temperature: '+data['temperature']
                                                      +' °C, Feeling: '+data['feel']
                                                      +' °C, Wind speed: '+data['wind']
                                                      +', Time Zone: '+data['time_zone']
                                                      +'. '+data['comment']
                                                      +'</p>'
    })

    document.getElementById('de').onclick = (event) => {
        event.preventDefault();
        fetch("http://127.0.0.1:8000/api/story/"+{{story_id}}+"/translate_de",{method:'get'}).then(response => {
            return response.json()
        }).then(data => {
            document.getElementById('translation').innerHTML=data['story']
        })
    }

    document.getElementById('es').onclick = (event) => {
        event.preventDefault();
        fetch("http://127.0.0.1:8000/api/story/"+{{story_id}}+"/translate_es",{method:'get'}).then(response => {
            return response.json()
        }).then(data => {
            document.getElementById('translation').innerHTML=data['story']
        })
    }

    document.getElementById('tr').onclick = (event) => {
        event.preventDefault();
        fetch("http://127.0.0.1:8000/api/story/"+{{story_id}}+"/translate_tr",{method:'get'}).then(response => {
            return response.json()
        }).then(data => {
            document.getElementById('translation').innerHTML=data['story']
        })
    }

    fetch("http://127.0.0.1:8000/api/quote/"+{{story_id}},{method:'get'}).then(response => {
            return response.json()
        }).then(data => {
            document.getElementById('quote').innerHTML=data['Quote']+' -'+data['Author']
    })
</script>